<div class="main-nav">
  <ul class="nav">
    <li><a onclick="popUpMenu()">MENU</a></li>
    <li><a href="#section">ABOUT</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
    <div class="popup-menu" id="menu">
      <h1 href="#screen">DESIGN BOARD</h1>
      <h1><a href="https://github.com/LaurieLonecrow">GITHUB</a></h1>
      <h1>SITES</h1>
    </div>
</div>
