<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<div class="container">
<section class="panel transparent" id="screen">
  <div class="panel">
    <p>I had a professor who used to say, </p>
    <h1>“INSPIRATION IS JUST ANOTHER CUP OF COFFEE…”</h1>
    <p>…and it annoyed the hell out of me.
      <br>
      So professor, here’s my cup of tea.
      This is a smattering of things that inspire my designs.
    </p>
  </div>
</section>
<section class="panel section-1">
  <div class="inspire block-1">
    <img style="width: 300px;height: 300px; object-fit: cover;" src="https://i.pinimg.com/originals/ac/2b/39/ac2b39e681475331f97bb76249352552.png" alt="natural color palette">
  </div>
  <div class="inspire block-2">
    <img style="width: 300px; height: 200px; object-fit: cover;" src="https://colorpalettes.net/wp-content/uploads/2016/01/color-palette-2561.png" alt="natural color pallet">
  </div>


</section>

<section class="panel transparent col">
  <div class="inspire block-3 row">
    <img style="width: 300px;height: 300px; object-fit: cover;" src="https://i.pinimg.com/originals/48/4f/b7/484fb79fddd493bedfd8c035ffcc6b27.png" alt="typeface">
  </div>
  <div class="inspire block-4">
    <img style="width: 300px;height: 200px; object-fit: cover;" src="https://images.squarespace-cdn.com/content/v1/574c126fcf80a1dfc9ff491e/1587977084086-H5N3S0OU7ROOB8UXDDM1/ke17ZwdGBToddI8pDm48kB3UJlw2eCFup7Hde2llbI17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaMWSHLdU37Ip9TCr_pjRXpwWX8hA5LN7wNt5M4ZLzbC8z5qk2-relh51IS8NtWYYA/Calligrafile-Font-Typeface-Design-Software.jpg?format=2500w" alt="typography">
  </div>
</section>
<section class="panel transparent col">
  FOUR
</section>
<section class="panel transparent col">
  FIVE
</section>

</div>
