<%-include("partials/header")-%>
<%-include("partials/navbar")-%>


<div class="main-container ">
  <!-- /* <h1 class="title-header">LONECROW</h1>
  <h2 class="title-subtitle">Web Designer</h2>*/ -->
<img class="crow" src="/pics/LoneCrowWeb.png" alt="crow">
<img class="moon" src="/pics/MoonWeb.png" alt="moon">
</div>
<div class="scroll-down">Scroll down
<div class="arrow">&#10504;</div>
</div>

<div class="main-container ">

</div>
<div class="main-container ">

</div>
